# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Build files
build/
dist/
*.spec



# Jupyter
.ipynb_checkpoints/

# Environment/secrets
.env
.env.*
*.env

# OS files
.DS_Store
Thumbs.db


# Generated molecular structure files
static/generated/